.carouselWrap {
  overflow: hidden;
  width: 100%;
}

.carousel {
  position: relative;
  overflow: hidden !important;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.carousel :global(.swiper-slide) {
  height: auto;
  box-sizing: border-box;
}

.viewAllWrap {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
